
.idea
.prettierrc
.prettierignore
.sfdx/
.vscode/
IlluminatedCloud/

force-app/main/default/profiles/Admin**
force-app/main/default/sites/
force-app/main/default/staticresources/SiteSamples*
force-app/main/default/profiles/SurveyForce*
force-app/main/default/pages/Unauthorized*
force-app/main/default/pages/UnderConstruction*
force-app/main/default/pages/AnswersHome*
force-app/main/default/pages/BandwidthExceeded*
force-app/main/default/pages/ChangePassword*
force-app/main/default/pages/Exception*
force-app/main/default/pages/FileNotFound*
force-app/main/default/pages/ForgotPassword*
force-app/main/default/pages/IdeasHome*
force-app/main/default/pages/InMaintenance*
force-app/main/default/pages/MyProfilePage*
force-app/main/default/pages/Site*
force-app/main/default/pages/StdExceptionTemplate*
force-app/main/default/components/Site*
force-app/main/default/classes/Site*
force-app/main/default/classes/MyProfile*
force-app/main/default/classes/ForgotPassword*
force-app/main/default/classes/ChangePassword*