# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

.localdevserver
.sfdx
.vscode

coverage/

# For now, let's try ignoring the metadata files
*.xml
# Ignore javascript not in force-app, and ignore in staticresources
*.js
!force-app/**/*.js
**/staticresources/**