{
	"trailingComma": "none",
	"singleQuote": true,
	"tabWidth": 2,
	"printWidth": 180,
	"useTabs": true,
	"bracketSpacing": true,
	"apexInsertFinalNewline": false,
	"bracketSameLine": true,
	"singleAttributePerLine": false,
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cmp,page,component}",
			"options": { "parser": "html", "bracketSameLine": false }
		},
		{
			"files": ".prettierrc",
			"options": { "parser": "json", "useTabs": true }
		},
		{
			"files": "*.cls",
			"options": { "parser": "apex" }
		}
	],
	"plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"]
}
